
h1{
    color: #fff;
}

p{
    color: #516F89;
}

.card-body h6{
    color: #516F89;
}

.btn-primary{
    background-color: #f9c344;
    color: black;
    border: #ffb300;
}

.btn-primary:hover{
    background-color: #f9c34485;
    color: rgba(248, 248, 248, 0.801);
}

.card{
    background-color: #2D291D;

}

.card-custom {
    border: 2px solid #434034;
    
}

.w-25 {
    width: calc(var(--spacing) * 15) /* 6.25rem = 100px */;
}


.search-custom {
    background-color: #242116;
    color: white;
    border: 2px solid #3a3525; /* borde normal */
    border-radius: 8px;
    transition: all 0.3s ease;
}

/* Placeholder */
.search-custom::placeholder {
    color: #516F89;
}

/* Focus */
.search-custom:focus {
    background-color: #242116;
    color: white;
    border-color: #ffb300; /* cambia solo el color */
    box-shadow: none;
    outline: none;
}