
h1{
    color: #fff;
}

p{
    color: #516F89;
}

.card-body h6{
    color: #516F89;
}

.btn-primary{
    background-color: #f9c344;
    color: black;
    border: #ffb300;
}

.btn-primary:hover{
    background-color: #f9c34485;
    color: rgba(248, 248, 248, 0.801);
}

.card{
    background-color: #2D291D;

}

.card-custom {
    border: 2px solid #434034;
    
}

.w-25 {
    width: calc(var(--spacing) * 15) /* 6.25rem = 100px */;
}


.search-custom {
    background-color: #242116;
    color: white;
    border: 2px solid #3a3525; /* borde normal */
    border-radius: 8px;
    transition: all 0.3s ease;
}

/* Placeholder */
.search-custom::placeholder {
    color: #516F89;
}

/* Focus */
.search-custom:focus {
    background-color: #242116;
    color: white;
    border-color: #ffb300; /* cambia solo el color */
    box-shadow: none;
    outline: none;
}

.form-select {
    background-color: #242116;
    color: white;
    border: 2px solid #3a3525;
}

.form-select:focus {
    border-color: #ffb300;
    box-shadow: none;
}

.btn-outline-gold {
    background-color: transparent;
    color: white;
    border: 2px solid #3a3525;
    transition: all 0.3s ease;
}

.btn-outline-gold:hover {
    background-color: #8f835e;
    color: #242116;
}


/* Tabla personalizada */
.table-custom {
    background-color: #2D291D;
    color: white;
    border-collapse: separate;
    border-spacing: 0;
}

/* Encabezado */
.table-custom thead {
    background-color: #242116;
    color: #f9c344;
}

/* Bordes */
.table-custom th,
.table-custom td {
    border-color: #3a3525;
    vertical-align: middle;
}

/* Hover */
.table-custom tbody tr:hover {
    background-color: #38311c;
}

/* Quitar fondo blanco default */
.table {
    --bs-table-bg: transparent;
    --bs-table-striped-bg: transparent;
}

.th-custom th {
    background-color: #282519;
    color: #516F89;
}

.td-custom td{
    color: white;
}

.table-wrapper {
    background-color: #2D291D;
    border-radius: 16px;
    overflow: hidden; /* 🔥 CLAVE para que funcione */
    border: 2px solid #3a3525;
}